{%- set filebeat = salt['pillar.get']('filebeat', {}) %}
filebeat.inputs:
{%- set inputs-syslog = filebeat.get('protocals', ['udp', 'tcp'])%}
{%- for syslog-inputs in protocols%}
   - type: syslog
{%-for proto_type in syslog-inputs.proto_types %}
      protcol.{{proto_type}}:
        host: ":514"
{% endfor%}
    format: auto 
    max_message_size: {{ syslog-inputs.get('max_message_size', '10MIB')}}
    timeout: {{ syslog-inputs.get('timeout','500s')}}
    fields_under_root: true
    fields:
      logzio_codec: json
      token: {{syslog-inputs.get('logz_tocken', '')}}
      type: syslog
{% endfor%}

filebeat.registry.path: /var/lib/filebeat

processors:
- rename:
    fields:
     - from: "agent"
       to: "beat_agent"
    ignore_missing: true
- rename:
    fields:
     - from: "log.file.path"
       to: "source"
    ignore_missing: true


output:
  logstash:
    hosts: ["{{filebeat.get.logz_url}}"]  
    ssl:
      certificate_authorities: ['{{salt['pillar.get']('filebeat:logz:tls:ssl_cert_path', '/etc/pki/tls/certs/COMODORSADomainValidationSecureServerCA.crt')}}']