filebeat:
  lookup:
    config_path: /etc/filebeat/filebeat.yml
    config_source: salt://mycustom/filebeat/filebeat.jinja
    runlevels_install: True

  # setup of syslog using udp and tcp forwarding
  syslog:
    -
      protocals:
        - 'upd'
        - 'tcp'
    -
      logz_tocken:
       "nPQBCLZdWoPRJEqqdykqUcPFZLQoySJC"